@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 02_B");

    var choice = Request.Form["ArtistList"];
    var cid = Request.QueryString["cid"];

    if (string.IsNullOrEmpty(cid))
    {
        Response.Redirect("Exercise02_A.cshtml");
    }

    var db = Database.Open("CHINOOK");
    string artistquery = "SELECT ArtistId, Name FROM Artists WHERE Name LIKE @0 ORDER BY Name";
    var partialstring = "%" + cid + "%";
    var results = db.Query(artistquery, partialstring);

    <p style="color:darkgreen">There was @results.Count() record/s returned from the Data Base</p>
}

@section banner {<h1>@Page.Title</h1>}

@if (IsPost)
{
    if (choice.Equals("0"))
    {
        <p style="color:firebrick">Select an artist name to view their albums</p>
    }
    else
    {
        var artistchoice = @"SELECT AlbumId
                    FROM Albums
                    WHERE ArtistID = @0";
        var albuminfo = db.Query(artistchoice, choice);

        if (albuminfo.Count() == 0)
        {
            <p style="color:firebrick">There are no albums stored for the selected artist.</p>
        }
        else
        {
            Response.Redirect("Exercise02_C.cshtml?cid=" + choice);
        }
    }
}







<form id="theform" method="post">
    <div class="row offset-1">
        <label class="label" for="ArtistList">Artists: </label>&nbsp;&nbsp;
        <select id="ArtistList" name="ArtistList">
            <option value="0">select artist...</option>
            @foreach (var item in results)
            {
                if (choice == item.artistID.ToString())
                {
                    <option value="@item.artistID" selected>@item.Name</option>
                }
                else
                {
                    <option value="@item.artistID">@item.Name</option>
                }
            }
        </select>
    </div><br />
    <div class="row offset-1">
        <button type="submit" id="theButton" name="theButton" value="submit"
                class="btn btn-primary">
            View Artist Albums ...
        </button>
    </div>
</form>